mat-card
    width: 90%
    max-width: 700px
    margin: 0 auto

    button.calendar
        margin-top: -12px

mat-tab-group
    width: 90%
    max-width: 730px
    margin: 0 auto
    margin-top: 30px