<div class="wrapper" [@deleteTransactionAnimation]="deleteAnimationState" (@deleteTransactionAnimation.done)="onAnimationDone($event)">
    <div class="inner">
        <div fxFlex="30">
            <div>
                <b class="title">{{ transaction.title }}</b>
                <span class="amount">{{ (transaction.isIncome) ? transaction.amount : transaction.amount * -1 }}€</span>
            </div>
            <div><span class="date">{{ transaction.date | appDate }}</span></div>
        </div>
        <div fxFlex="60">
            <div class="chip-list-container">
                <mat-chip-list *ngIf="transaction?.tags && !deleting">
                    <mat-chip *ngFor="let tag of transaction.tags">{{ tag }}</mat-chip>
                </mat-chip-list>
                <mat-progress-bar *ngIf="deleting" mode="indeterminate"></mat-progress-bar>
            </div>
        </div>
        <div fxFlex="10">
            <button mat-mini-fab color="warn" aria-label="Delete transaction" (click)="deleteTransaction()" [disabled]="deleting">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</div>